
/* .box {
    width: 100%;
    position: relative;
    margin: 0 auto;
}
.box-label {
    overflow: hidden;
}
.box-image {
    position: relative;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
}
.text-right {
    text-align: center;
}
.box-label .box-text.text-right {
    right: 0;
    left: auto;
}
.box-label .box-text {
    position: absolute;
    bottom: 0;
    width: auto;
    padding: 0;
    margin: 10%;
    padding: 0.5em 1.5em 0.55em;
    background-color: #FFF;
    opacity: .95;
    -webkit-box-shadow: 1px 1px 3px 0 rgba(0,0,0,0.1);
    box-shadow: 1px 1px 3px 0 rgba(0,0,0,0.1);
}
.is-large {
    font-size: 1.15em;
}
.box-text p {
    margin-top: 0.1em;
    margin-bottom: 0.1em;
}
.box, .box-image, .box-text {
    -webkit-transition: opacity 0.3s, background-color 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, background-color 0.3s, -webkit-transform 0.3s;
    -o-transition: opacity 0.3s, transform 0.3s, background-color 0.3s;
    transition: opacity 0.3s, transform 0.3s, background-color 0.3s;
    transition: opacity 0.3s, transform 0.3s, background-color 0.3s, -webkit-transform 0.3s;
}
div {
    display: block;
}
.box-text h4, .box-text h5, .box-text h6, .box-text a:not(.button) {
    line-height: 1.3;
    margin-top: 0.1em;
    margin-bottom: 0.1em;
}
.dark, .dark p, .dark td {
    color: #fcfcfc;
    background-color: rgba(11, 10, 10, 0.459);
} */
.contact-banner{
    position: relative;
    font-family: "Quicksand", sans-serif;
}
.contact-banner--textbox{
    background-color: rgba(11, 10, 10, 0.459) !important;
    position: absolute;
    top: 40%;
    right: 15%;
    width: auto;
    opacity: .95;
    -webkit-box-shadow: 1px 1px 3px 0 rgba(0,0,0,0.1);
    box-shadow: 1px 1px 3px 0 rgba(0,0,0,0.1);
}
.Contact-banner--image{
    width: 100%;
    height: auto;
}
@media screen and (min-width: 340px) {
    .contact-banner--textbox{
        background-color: rgba(11, 10, 10, 0.2) !important;
        top: 25%;
        right: 0%;
        font-size: 9px !important;
    
    }
    .contact-banner--textbox h4{
        font-size: 12px !important;
    }
    
}
@media screen and (min-width: 400px) {
    .contact-banner--textbox{
        background-color: rgba(11, 10, 10, 0.2) !important;
        top: 25%;
        right: 0%;
        font-size: 10px !important;
    
    }
    .contact-banner--textbox h4{
        font-size: 14px !important;
    }
    
}
@media screen and (min-width: 600px) {
    .contact-banner--textbox{
        background-color: rgba(11, 10, 10, 0.3) !important;
        top: 23%;
        right: 9%;
        font-size: 11px !important;

    }
    
    
}
@media screen and (min-width: 700px) {
    .contact-banner--textbox{
        background-color: rgba(11, 10, 10, 0.3) !important;
        top: 30%;
        right: 5%;
        font-size: 16px !important;
    }
    .contact-banner--textbox h4{
        font-size: 20px !important;
    }
    .contact-banner--textbox p{
        font-family: "Quicksand", sans-serif;
        font-size: 18px !important;
    }
    
}
@media screen and (min-width: 768px) {
    .contact-banner--textbox{
        top: 30%;
        right: 5%;
       
    }
    
}
@media screen and (min-width: 1024px) {
    .contact-banner--textbox{
        background-color: rgba(11, 10, 10, 0.459) !important;
       
    }
    
}
@media screen and (min-width: 1200px) {
    .contact-banner--textbox{
     
        right: 8%;
    }
    
}
@media screen and (min-width: 1400px) {
    .contact-banner--textbox{
        right: 10%;
    }
    
}
@media screen and (min-width: 1600px) {
    .contact-banner--textbox{
        right: 12%;
    }
    
}
.contact-info--text{
    text-align: center;

}
.contact-info--url a{
    text-decoration: none;
    font-weight: bolder;
}
.contact-info--url__contact a{
    color: #ff6600;
}
.contact-info--url__home a{
    color: #000;
}
.contact-info-titletext{
    font-weight: bolder;
    color: #ff6600;
}
.image-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto; /* Đảm bảo căn giữa theo chiều dọc trên toàn màn hình, bạn có thể điều chỉnh giá trị này nếu cần thiết */
  }
  
  .image-contact {
    margin: auto;
    display: block; /* Loại bỏ khoảng trắng dư thừa khi hình ảnh là một phần tử inline */
  }
  .contact-jframe{
    width: 100%;
    height: 600px !important;
  }
.contact-form--send{
    background-color: #ff6600;
    border-radius: 6px;
}
.form-control--custom{
    border: solid 1px #ff6600;

}
 