.btn-close-search {
    font-size: 20px;
    right: 0;
    position: fixed;
    right: 0;
    top: 0;
}

.modal-search-bar .modal-content {
    background-color: transparent !important;
    border: none;
}

.form-input-search {
    background-color: rgb(138, 138, 138) !important;
    height: 70px;
    border-radius: 99rem;
}

.form-input-search input,
.form-input-search i {
    height: 100%;
    border-radius: 99rem;
    background-color: transparent !important;
    border: none !important;
}

.form-input-search input:focus {
    color: var(--bs-body-color);
    background-color: transparent;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: none;
}

.input-search::placeholder {
    color: rgb(255, 255, 255);
    opacity: 1;
    /* Firefox */
}

.input-search::-ms-input-placeholder {
    /* Edge 12-18 */
    color: rgb(255, 255, 255);
}

.live-search-results{
    max-height: 300px;
    overflow-y: auto;
}
.autocomplete-suggestions{
    cursor: pointer !important;
}

.autocomplete-suggestion {
    padding: 10px 0.75em;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: default;
}

.autocomplete-suggestion:hover{
    background-color: rgba(82, 82, 82, 0.4) ;
}